[Unit]
Description=Check battery & show notification

[Service]
Type=oneshot
ExecStart=/home/jamie/scripts/check_battery.sh

[Install]
WantedBy=graphical.target
