extends markdown

priority -48

snippet head "YAML Header" b
---
title: ${1:`!v vim_snippets#Filename('$1', 'title')`}
source: ${2:Source}
date: ${3:`!v strftime("%Y-%m-%d %H:%M")`}
---

$0
endsnippet
